

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    background: linear-gradient(250deg,
            #c62d43,
            #c62d43,
            #c62d43,
            #7c5265,
            #9897aa,
            #c62d43,
            #c62d43,
            #c62d43,
            #c62d43);
    animation: gradient 15s ease infinite;
    background-size: 300% 300%;
    font-family: 'MyWebFont';
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 50% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.form-container {
    background-color: #DCE4C9;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    border-color: #B6A28E;
    border-radius: 30px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #B6A28E;
    border-radius: 30px;
    font-size: 16px;
    border-width: 0px 0px 4px;
    box-shadow: 0px 6px 27px 0px rgba(127, 68, 201, 0.2);
}

button {
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 16px;
    background-color: #7c5265;
   border: none;
   border-radius: 30px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
    color:black;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #7c5265;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input:focus {
    border-color: #7c5265;
  }


.social-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 10px;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.facebook-btn {
    background-color: #3b5998; 
}

.facebook-btn:hover {
    background-color: #2d4373; 
}

.google-btn {
    background-color: #db4437;
}

.google-btn:hover {
    background-color: #a53327; 
}
.social-login {
    justify-content: center; 
    margin-left: 70px;
}
